-#%p
-#  %i Примечание: я пока не делал валидацию
-##messages
-#%div
-#  %p Загадать код
-#  %input{:type => 'text', :id => 'code_field'}
-#  %input{:type => 'submit', :id => 'code_submit'}
-#%div
-#  %p Играт  ь (пока не поиграть)
-#  %input{:type => 'text', :id => 'guess_field'}
-#  %input{:type => 'submit', :id => 'guess_submit'}
-##player_turns
-##opponent_turns'
- content_for :title, 'Play'
%h1#roller
:javascript
  App.createChannel();
  $(document).ready(function() {
    var elt         = document.getElementById("roller");
    var texts       = ["AAAAAA", "CRYPTO"];
    elt.textroller  = new TextRoller({
      el: elt,
      values: texts,    // an array of texts.     default : [el.innerHtml]
      align: "right",
      theme: 'default',
      loop: false,     // at the end, restart.   default : true
      delay: 0
    });
  })
