/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "Swiper/dist/css/swiper.min";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #eee;
}

.content {
  background: linear-gradient(to bottom, #4CB8C4, #FFD194);
  min-height: calc(100vh - 60px);
  color: rgb(75, 75, 75);
}

a {
  text-decoration: none !important;
  cursor: pointer !important;

  &:hover, &:active, &:focus {
    background: none !important;
  }
}

.navbar {
  a {
    color: white;
    background: none;

    &:hover {
      color: #e1e1e1;
    }
  }
}

.navbar-transparent {
  background: #f8f8f8;

  a {
    color: $text-color;

    &:hover {
      color: rgb(50, 50, 50);
    }
  }
}

.navbar-appstore {
  padding: 5px 25px !important;
}

.navbar-appstore-img {
  height: 40px;
}

footer {
  background: rgb(75, 75, 75);
  color: white;

  .footer-large-menu {
    padding: 20px 0;
  }

  .players, .footer-menu {
    margin: 20px;
  }


  .footer-menu {

    & > * {
      padding-right: 10px;
    }

    a {
      color: white;

      &:hover {
        color: #e1e1e1;
      }
    }
  }

  ul {
    list-style: none;
    color: white;

    li {
      font-size: 16px;
    }

    a {
      margin-left: -15px;
      color: white;

      &:hover {
        color: #DDDDDD;
      }
    }
  }
}

::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: none;

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}

#banner {
  position: absolute;
  bottom: 60px;
  margin: 0 auto;
}

.left-banner {
  position: absolute;
  left: 0;
  top: calc(50vh - 300px);
}

.right-banner {
  position: absolute;
  right: 0;
  top: calc(50vh - 300px);
}

div.tooltip-inner {
  max-width: 350px;
  word-wrap: break-word;
}