// Place all the styles related to the games controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables

$text: rgb(75, 75, 75);
$text--bright: rgb(110, 110, 110);

// Welcome Screen

.welcome {
  height: calc(100vh - 132px);
  .menu {
    height: calc(100% - 72px);
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    li {
      margin-bottom: 18px;
    }

    a {
      color: $text;
      font-size: 30px;

      &:hover {
        color: $text--bright
      }
    }
  }
}


// Searching for opponents screen

.loading-container {
  color: white;
  font-size: 30px;
  display: none;

  .btn {
    font-size: 20px;
  }

  .btn-danger {
    background-color: #ff6666;
  }
}

.spinner {
  margin: 50px auto;
  width: 100px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

// Set code screen

#set-code-container {
  display: none;
}

form#set-code input[type=text]{
  height: 50px;
  width: 40px;
  text-align: center;
  font-size: 2em;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  color: $text;

  &:focus {
    background: none;
    border-bottom: 1px solid #000;
    outline: none;
  }
}

.set-code-buttons {
  margin-top: 25px;
  display: inline-block;
  border: 1px solid $text;
  border-radius: 25px;

  button {
    padding: 10px 15px;
    background: none;
    border: none;
    width: 85px;
    margin: 0;
    outline: none;

    &:hover {
      color: $text--bright
    }

    &:first-child {
      border-right: 1px solid $text;
    }

    &:last-child {
      margin-left: -4px;
    }
  }
}