// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.swiper-container {
  width: 281px;
  height: 500px;
  margin-top: 20px !important;
}

@for $i from 1 through 5 {
  .slide-#{$i} {
    width: 1248px;
    height: 2209px;
    background: url('screenshot #{$i}.jpg') center / cover;
  }
}

.download-icons {
  padding-top: 20px;
}

