// Variables

$text: rgb(75, 75, 75);
$text--bright: rgb(110, 110, 110);

// Download

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section.download .col-sm-6 {
    height: 600px !important;
  }

  .vmiddle {
    height: 600px;
  }
}

.download-icons {
  padding-top: 20px;
}

section.download {
  p, div, h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif !important;
  }

  .jumbotron {
    margin-top: 200px;
    background: none;
    color: white;
  }

  p {
    font-size: 32px;
  }

  img {
    max-height: 600px;
    margin: 0 auto;
  }

  h2, p {
    display: block;
  }

  h2 {
    font-size: 48px;
    font-weight: 100;
  }

  .vmiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

section.zero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &:before {
    filter: brightness(.75);
    z-index: -1;
    height: calc(100% - 50px);
    width: 100%;
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    background: url("mock-up-1.jpg") center / cover;
  }

  .zero-col {
    height: 600px;
  }

  & .col-sm-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  span {
    position: absolute;
    color: white;
    font-size: 48px;
    left: calc(50vw - 24px);
    top: 90vh;
    z-index: 5;
    font-weight: 100;
    bottom: 50px;
  }

  .row {
    margin-top: 110px;
  }

  p {
    font-size: 21px;
  }

}

section.one{
  padding: 50px 0;

  img {
    float: left;
  }

  .vmiddle {
    padding: 45px;
  }
}

section.two{
  padding: 50px 0;

  img {
    float: right;
  }

  .vmiddle {
    padding: 45px;
  }
}

section.last {
  padding: 100px 0;
}


.arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 75px solid #fff;
}

// About

.about {
  p, div, h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif !important;
  }

  color: $text !important;

  .jumbotron {
    background: none;
    color: #ffffff;
    height: 650px;
    max-height: 100vh;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:before {
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: url('blackbuild.jpg') center / cover;
      z-index: -1;
      filter: brightness(.75);
    }
  }

  .team-member {
    text-align: center;

    img {
      height: 225px;
      width: auto;
      margin: 0 auto;
      border: 7px solid #fff;
    }

    h4 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 700;
    }

    p {
      color: $text--bright;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  .section-heading {
    font-size: 40px;
    margin: 75px 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  section:not(:first-child) {
    background-color: #eee;
  }

  .social-buttons {
    margin-bottom: 0;

    a {
      display: block;
      background-color: #222;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 36px;
      color: #fff;
      outline: 0;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      border: 2px solid $text;

      &:hover {
        color: $text;
        background-color: white;
      }
    }
  }

  .contact {
    padding: 100px;

    .btn {
      font-size: 24px;
      color: white;
      background-color: $text;
      padding: 16px;
      transition: background-color .3s;
      border-radius: none;

      &:hover {
        background-color: $text--bright;
      }
    }
  }
}