// Variables

$text: rgb(75, 75, 75);
$text--bright: rgb(110, 110, 110);

// Download

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section .col-sm-6 {
    height: 600px !important;
  }
}

.download-icons {
  padding-top: 20px;
}

section {
  margin-bottom: 50px;

  p {
    font-size: 30px;
  }

  img {
    max-height: 600px;
    margin: 0 auto;
  }

  .vcenter {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

section.zero {
  min-height: 600px;

  h1 {
    font-size: 60px;
    font-weight: bold;
  }

  .container {
    padding: 0 40px;
  }

  .zero-col {
    height: 600px;
  }

  & .col-sm-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

section.one{
  background: linear-gradient(to bottom, #4CB8C4, #FFD194);

  p {
    margin: 100px 0 175px;
    font-size: 30px;
    color: white;
  }
}

section.two{
  background: white;

  p {
    font-size: 30px;
    color: $text;
  }
}


.arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 75px solid #fff;
}