<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="left-banner">
    <!-- Левый-узкий -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-3695510803921568"
         data-ad-slot="2208940935"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="right-banner">
    <!-- Правый -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-3695510803921568"
         data-ad-slot="6639140532"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>